@charset "UTF-8";
/* CSS Document */

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main {
	max-width: 400px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	/*loaded 300 and 600 weight*/
	}
main h1 {color: red;}


section {
	padding: .5rem 2%;
	margin-bottom: .3rem;
}

label {
	display: block;
}

span {
	color: #666; 
	padding: .1rem;
	font-weight: 600;
	font-size: .8rem;
}


.myInput {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 120%;
}


#background {
    background-color: #e0e2e5;
    display: block;
    border: 2px solid #666;
    border-radius: 20px;
    padding: 10px;
    padding-top: 0px;
}

form.myForm .myInput {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	border: 1px solid #b6b6b6;
	font-size: 120%;
	width: 100%;
	background-color: white;
    border-radius: 20px;
	padding: .4rem 2%;
    padding-left: 10px;
    padding-right: 10px;
}

form.myForm .submitButton {
	border-radius: 20px;
	background: red;
	color: white;
	border: none;
	width: 40%;
	padding: .5rem;
	text-align: center;
	font-size: 1rem;
    display: block;
    margin: auto;
}

